/* @import url('http://fonts.cdnfonts.com/css/harry-potter'); */
body{

    margin:0px;
    padding:0px;
}

#card img{
    max-height: 400px;
}
.nav-bar{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    
}
.nav-bar #search{
    border: 1px solid black;
    padding: 5px;
} 
a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  a:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid white;
  }
.nav-bar h2{
    size:100px;
    color:white;
}
.nav-bar button{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    transition: transform .2s;
    color: white;
    transition: transform .2s;
}


#card{
    background-color: white;
    margin: 50px;
    border: 1px solid white;
    margin-left: 100px;
    min-width: 300px;
    transition: transform .2s;
    max-width: 300px;
    border-radius: 10px;
}

#card:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 100px 100px white e(0,0,0,0.75);
}
#card img{
    max-height: 400px;
}
#display {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1{
    font-family: 'Harry Potter', sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 70px;                                            
}

.nav-bar #search{
    margin-top: 10px;
    height: 30px;
}

.nav-bar button:hover{
    border-color: gray;
    border-radius: 10px;
    /* background-color: gray; */
}